# Ignore system files
.DS_Store
*.swp
Thumbs.db

# Ignore IDE and editor settings
.vscode/
.idea/
*.iml

# Ignore Python, Node.js, and build files from all folders
backend/__pycache__/
backend/node_modules/
frontend/node_modules/
frontend/build/

